<app-menu></app-menu>
<header>Contacta con nosotros para ayudarte</header>
<p class="centrado">Uno de nuestros técnicos te contestara por correo o llamada y te ayudara con tu servicio, te brindara la mejor ayuda y da a conocer los mejores precios para tu servicio.</p>


<div id="form" class="topBefore">
		
		  <input id="name" type="text" placeholder="NOMBRE">
		  <input id="email" type="text" placeholder="CORREO">
      <input id="tel" type="text" placeholder="TELEFONO">
		  <textarea id="message" type="text" placeholder="MENSAJE"></textarea>
  <input id="submit" type="submit" value="GO!">
  
</div>

<app-footer></app-footer>

