<div class="navbar navbar-expand-sm sticky-top" id="contenedor" >
        
  <div class="container-fluid">
     
      <a class="navbar-brand" href="">
          <img href=""><img src="../../../assets/imagenes/helpme.png " alt="" width="200">
      </a>
      <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> 

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs arri">

          </ul>
      </div>      
  </div>    
  
  <div class="container-fluid">
      <nav class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto d-flex justify-content-around">
                      
              <li>
                  <a class="navbar-item nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registrate']" routerLinkActive="router-link-active">Cual es tu problema?</a>   
            </li>             
          </ul>
      </nav>
  </div>
</div>

