<app-menu></app-menu>

<br>
<img class="foto2" src="../../../assets/imagenes/imagen2.jpg" alt="imagen 2">

<div class="card" style="width: 30rem; left: 1.9rem;" id="mision">
    <div class="card-body">
      <h5 class="card-title">CERRAJERÍA</h5>
      <p class="card-text">Ofrecemos un servicio rápido y eficaz, con los mejores técnicos a su disposición, trabajamos en toda Bogotá y sus municipos cercanos. Servicios motorizados con todo su equipo de alta calidad las 24 horas del dia</p>
    </div>
   </div>
   <br>

   <img class="foto2" src="../../../assets/imagenes/tecnicos.jfif" alt="imagen 2">
   
   <div class="card" style="width: 30rem; left: 1.9rem;" id="mision">

    <div class="card-body">
      <h5 class="card-title">TECNICOS DE CALIDAD</h5>
      <p class="card-text">Nuestros técnicos tienen una experiencia ya más de 10 años de trabajos con nosotros, tiene los conocimientos para todo tipo de servicio de cerrajerías. Cada uno cuenta con su equipo de trabajo y su sistema de trasporte.</p>
    </div>
   </div>

   




<br>
<br>
<br>


<div>
    <p style="text-align: center; "> <img src="../../../assets/imagenes/cerradura.png" alt="imagen 3" width="300"></p>

</div>
<br>
<br>





<app-footer></app-footer>